@font-face {
  font-family: "TTLakesMedium";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTLakesBold";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
}

.menu {
  position: relative;
  width: 320px;
  height: 1030px;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  overflow-y: auto;
  font-family: "TTLakesMedium", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  width: 320px;
}

.button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  filter: opacity(55%);
}

.button:active {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  padding-left: 24px;
  padding-right: 24px;
}

.imagesBurger {
  transform: translateY(-2px);
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 46px;
  padding-left: 24px;
}

.link {
  text-decoration: none;
  color: #1b1c21;
}

.link:hover {
  filter: opacity(55%);
}
.link:active {
  color: #41f6d7;
}

.first::before {
  content: url(./images/highlight.svg);
  background-color: #41f6d7;
  margin-right: 0;
  position: relative;
  left: -24px;
}

.first {
  color: #7e7e82;
}

.footer {
  position: absolute;
  top: 804px;
  padding-left: 24px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mail {
  text-decoration: none;
  color: inherit;
}

.tel {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-family: "TTLakesBold";
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 40px;
}

.ruLang {
  color: #7e7e82;
}
